main {
    border: 2px green solid;
    height: 500px;
}

.flex-container {
    border: 2px purple dashed;
    width: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.seat {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border: 1px red solid;
    color: blue;
    font-size: 30px;
    padding: 30px;
}